<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"]</title>
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/cadastro.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/produtos.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/Lachonete.styles.css" asp-append-version="true" />
    </head>

    <body>
       <header class="cabecalho"> 
           <section class="menu"> 
               <nav class="menu_navegacao">
                    <a asp-area="" asp-controller="Produto" asp-action="Cadastro">Cadastro</a>
                    <a asp-area="" asp-controller="Produto" asp-action="Produtos">Produtos</a>
                    <a asp-area="" asp-controller="Produto" asp-action="Compras">Compras</a>
                </nav>
                
                <figure class="menu_logo">
                    <img src="~/img/images.png" alt="">
                </figure>
            </section>
        </header>

       <main class="conteudo">
            @RenderBody()
        </main>

      <footer class="rodape">
        <section class="contato">

        </section>
        </footer>
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
         <script src="~/js/site.js" asp-append-version="true"></script>
        <script src="~/js/cadastro.js" asp-append-version="true"></script>
        <script src="~/js/produtos.js" asp-append-version="true"></script>
        @await RenderSectionAsync("Scripts", required: false)
    </body>
</html>
