@media (max-width: 320px) {

    .cadastro_formulario {
        display: grid;
        justify-items: center;
        row-gap: 2vh;
        margin: 4vh 0 !important;
    }
    .cadastro_campos aside {
        display: grid;
    }
    .cadastro_imagem img{
        height: 10vh;
    }
}

@media (min-width: 320px) {
    .cadastro_formulario {
        display: grid;
        justify-items: center;
        row-gap: 2vh;
        margin: 4vh 0 !important;
    }
    .cadastro_campos aside{
        display:grid;
    }
    .cadastro_imagem img {
        height: 10vh;
    }
}
