    * {
        /*768px all: revert;*/
        box-sizing: border-box !important;
        margin: 0 !important;
        padding: 0 !important;
    }

@media (max-width: 320px) {
    body {
        display: grid;
        grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
    }
    .cabecalho {
        background-color: black;
    }
    .conteudo {
        background-color: darkgray;
        display: grid;
        align-items: center;
    }
    .rodape {
        background-color: black;
    }
    .menu {
        display: grid;
        grid-template-columns: 1fr 0fr;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-around;
    }
    .menu_navegacao a {
        text-decoration: none;
        color: white;
    }
    .menu_navegacao a:active {
        color: darkgray;
    }
    .menu_logo img {
        height: 15vh;
    }
}

@media (min-width: 320px) {
    body {
        display: grid;
        grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
    }
    .cabecalho {
        background-color: black;
    }
    .conteudo {
        background-color: darkgray;
        display: grid;
        align-items: center;
    }
    .rodape {
        background-color: black;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 0fr;
        display: grid;
        grid-auto-flow: column;
        align-items: center;
        justify-content: space-around;
    }
    .menu_navegacao {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-around;
    }
    .menu_navegacao a {
        text-decoration: none;
        color: white;
    }
    .menu_navegacao a:active {
        color: darkgray;
    }
    .menu_logo img {
        height: 15vh;
    }
}