@media (max-width: 768px) {
    * {
        /*all: revert;*/
        box-sizing: border-box !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    body {
        display: grid;
        grid-template-rows: minmax(15vh,auto) minmax(70vh,auto) minmax(15vh,auto);
    }
    .cabecalho {
        background-color: black;
    }
    .conteudo {
        background-color: darkgray;
        display: grid;
        align-items: center;
    }
    .rodape {
        background-color: black;
    }

    .menu {
        display: grid;
        grid-template-columns: 1fr 0fr;
        justify-items: center;
        align-items: center;
    }
    .menu_navegacao a{
        text-decoration: none;
        color: white;
    }
    .menu_navegacao a:active {
        color: darkgray;
    }
    .menu_logo img{
        height: 15vh;
    }

    .cadastro_formulario {
        display: grid;
        justify-items: center;
        row-gap: 2vh;
        margin: 4vh 0 !important;
    }
    .cadastro_campos div{
        display:grid;
    }

    .produto_item {
        display: grid;
        row-gap: 2vh;
        border: 2px solid;
        padding: 1vh 1vw !important;
        margin: 1vh 5vw !important;
    }
    .produto_informacoes1 {
        display: grid;
        grid-auto-flow: column;
        justify-content: space-evenly;
    }
    .produto_informacoes2 {
        display: grid;
        grid-template-columns: 0fr 1fr;
        column-gap: 1vw;
    }
    .produto_informacoes2 img{
        width:15vh;
        border: 2px solid;
    }
    .produto_informacoes2 p {
        border: 2px solid;
    }
    .produto_funcoes {
        text-align: center
    }
}
