@{
    ViewData["Title"] = "Cadastro";
}
<article class="titulo_principal">
    <h1>Cadastro</h1>
</article>
 <article class="cadastro">
            <form class="cadastro_formulario" action=""  method="post" enctype="multipart/form-data" data-form="produto">
                <section class="cadastro_campos">
                    <aside class="cadastro_codigo">
                        <label for="codigo" data-label="codigo">Código</label>
                        <input type="number" name="Codigo" id="codigo" data-input="codigo"/>
                    </aside>
                    <aside class="cadastro_produto">
                        <label for="produto" data-label="produto">Produto</label>
                        <input type="text" name="Produto" id="produto" data-input="produto"/>                   
                    </aside>
                    <aside class="cadastro_preco"> 
                        <label for="preco" data-label="preco">Preço</label>
                        <input type="number" name="Preco" id="preco" step="any" data-input="preco"/>
                    </aside>
                    <aside class="cadastro_quantidade"> 
                        <label for="quantidade" data-label="quantidade">Quantidade</label>
                        <input type="number" name="Quantidade" id="quantidade" data-input="quantidade"/>
                    </aside>
                    <aside class="cadastro_descricao">
                        <label for="descricao" data-label="descricao">Descrição</label>
                        <textarea  type="text" name="Descricao" id="descricao" data-input="descricao"></textarea>
                    </aside>
                    <aside class="cadastro_imagem">
                        <label for="imagem" data-label="imagem">Imagem</label>
                        <img id="preview" data-img="imagem"/>
                        <input type="file" id="imagem" name="FileImagem" accept="image/*" data-input="imagem"/>
                    </aside>
                </section>
        
                <section class="cadastro_funcoes">
                    <button type="submit" id="" data-button="Consultar">Consultar</button>
                    <button type="submit" id="" data-button="Salvar">Salvar</button>
                    <button type="submit" id="" data-button="Excluir">Excluir</button>
                    <button type="reset" id="" data-button="Limpar">Limpar</button>
                </section>
            </form>
        </article>

@if (ViewBag.produtoModel != null && ViewBag.produtoModel != "")
{   
    string[] produto = ViewBag.produtoModel.Split('#');

    for (int i = 0; i < produto.Length-2; i++)
    {
       <script>
           var input = document.querySelectorAll("[data-input]");
           input[@i].value = "@produto[i+1]";
      </script> 
    }
    <script>
          var input = document.querySelector("[data-input=codigo]");
          input.disabled = true;

          var img = document.querySelector("[data-img=imagem]");
          img.src = @produto[produto.Length-1];
    </script> 
    
}
