@{
    ViewData["Title"] = "Cadastro";
}
 
   <section class="cadastro">
       <form action="" class="formulario" method="">
           <div class="grupo_titulo">
                <h1>Cadastro</h1>
            </div>
           
            <div class="grupo_campos">
                <div class="campos">
                    <label for="codigo">Código</label>
                    <input type="number" name="Codigo" id="codigo">                   
                </div>

                <div class="campos">
                    <label for="produto">Produto</label>
                    <input type="text" name="Produto" id="produto">                   
                </div>

                <div class="campos"> 
                    <label for="preco">Preço</label>
                    <input type="number" name="Preco" id="preco">
                </div>

                <div class="campos"> 
                    <label for="quantidade">Quantidade</label>
                    <input type="number" name="Quantidade" id="quantidade">
                </div>
                
                <div class="campos">
                    <label for="descricao">Descrição</label>
                    <textarea  type="text" name="Descricao" id="descricao"></textarea>
                </div>

                <div class="campos">
                    <label for="imagem">Imagem</label>
                    <input type="file" name="Imagem" id="imagem" accept="image/*" capture>
                </div>
            </div>

          <div class="grupo_funcoes">
                <button type="button" id="consultar" onclick="Consultar(this.id)">Consultar</button>
                <button type="button" id="salvar" onclick="Salvar(this.id)">Salvar</button>
                <button type="button" id="excluir" onclick="Excluir()">Excluir</button>
                <button type="reset" id="limpar" onclick="Limpar()">Limpar</button>
            </div>
        </form>
    </section>

