@{
   ViewData["Title"] = "Cadastro";
}
<section class="cadastro">
    <form class="cadastro_formulario" action="~/Produto/Salvar"  method="post">
        <div class="cadastro_titulo">
            <h1>Cadastro</h1>
        </div>

        <div class="cadastro_campos">
            <span>
                <label for="codigo">Código</label>
                <input type="number" name="Codigo" id="codigo">                   
            </span>
            <span>
                <label for="produto">Produto</label>
                <input type="text" name="Produto" id="produto">                   
            </span>
            <span> 
                <label for="preco">Preço</label>
                <input type="number" name="Preco" id="preco" step="any">
            </span>
            <span> 
                <label for="quantidade">Quantidade</label>
                <input type="number" name="Quantidade" id="quantidade">
            </span>
            <span>
                <label for="descricao">Descrição</label>
                <textarea  type="text" name="Descricao" id="descricao"></textarea>
            </span>
            <span>
                <label for="imagem">Imagem <span></span></label>
                <input type="file" name="Imagem" id="imagem" accept="image/*" capture>
            </span>
        </div>

        <div class="cadastro_funcoes">
            <button type="submit" id="consultar">Consultar</button>
            <button type="submit" id="salvar">Salvar</button>
            <button type="submit" id="excluir">Excluir</button>
            <button type="submit" id="limpar">Limpar</button>
        </div>
    </form>
</section>
